@import "_shared";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html {
  body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    div#content {
      position: relative;
      section{
        &.slide-show-container{
          width: 100vw;
          height: 100vh;
          ul.slide-show {
            padding: 0;
            margin: 0;
            list-style: none;
            li.slide {
              width: 100vw;
              height: 100vh;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              align-content: center;
              background-size: cover;
              position: absolute;
              a{
                color: white;
              }
              &.inactive{
                pointer-events: none;
              }
            }

          }
        }
        &:not(.slide-show-container){
          @include media-desktop {
            background-color: transparent;
            max-width: $desktop;
            margin-left: auto;
            margin-right: auto;
          }
        }
        &:last-of-type{
          margin: 0 auto 75px auto;
        }
      }
      &.slide-show-active {
        position: fixed;
        top: 0;
        section:not(.slide-show-container){
          position: absolute;
          right: 0;
        }
      }
      div#back-to-top {
        background-image: url('../img/up-arrow.png');
        background-size: 40px 40px;
        position: fixed;
        right: 0;
        bottom: 28px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        opacity: 0.2;
      }
    }
    div#overlay{
      background-color: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      z-index:100;
      a.overlay__close{
        text-indent:-10000px;
        position: absolute;
        top: 40px;
        display: block;
        width: 40px;
        height: 40px;
        background: url(../img/close-x.svg);
      }
    }

  }
}

.ambiveo {
  object-fit: cover;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 1px);
  min-width: calc(100% + 2px);
  min-height: calc(100% + 2px);
  width: 100%;
  height: auto;
}